apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-go-pyjykvnj
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-go-pyjykvnj:f3888bfe800984d32475cd5494ad8b55dce4896a@sha256:a24816fe7244447359cd5d36dd7ef468059e08a09031b2bdd166df7db390c9d4
        name: container-image  
